<div>
	<h3>template.html</h3>
	<br></br>
	<br></br>
	<pre>
		<code>
			<br></br>
		</code>
	</pre>
	<br></br>
	<br></br>
	<h3></h3>
	<br></br>
	<br></br>
	<pre>
		<code>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
		</code>
	</pre>
	<br></br>
	<br></br>
	<br></br>
	<h3></h3>
	<br></br>
	<code></code>
	<code></code>
	<code></code>
	<code></code>
	<code></code>
	<code></code>
	<br></br>
	<pre>
		<code>
			<br></br>
		</code>
	</pre>
	<br></br>
	<br></br>
	<h3></h3>
	<br></br>
	<code></code>
	<br></br>
	<pre>
		<code>
			<br></br>
		</code>
	</pre>
	<br></br>
	<br></br>
	<code></code>
	<br></br>
	<br></br>
	<ul>
		<li>
			<code></code>
		</li>
	</ul>
	<br></br>
	<br></br>
	<ul>
		<li>
			<code></code>
		</li>
		<li>
			<code></code>
		</li>
		<li>
			<code></code>
		</li>
		<li></li>
	</ul>
	<br></br>
	<br></br>
	<ul>
		<li>
			<code></code>
		</li>
		<li>
			<code></code>
		</li>
		<li></li>
	</ul>
	<br></br>
	<br></br>
	<ul>
		<li>
			<code></code>
			<code></code>
			<code></code>
		</li>
		<li>
			<code></code>
		</li>
		<li>
			<code></code>
			<code></code>
		</li>
	</ul>
	<br></br>
	<br></br>
	<h2>
		<a href="https://mesonbuild.com/"></a>
	</h2>
	<br></br>
	<pre>
		<code>
			<br></br>
		</code>
	</pre>
	<br></br>
	<br></br>
	<a href="weave"></a>
	<a href="https://gitea.cubicsignal.com/imran/static-web"></a>
	<a href="github"></a>
	<a href="https://github.com"></a>
	<a href="gitlab"></a>
	<a href="https://gitlab.com"></a>
	<br></br>
	<br></br>
</div>
